<style>
    .presentacion {
        text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
        color: white;
        text-align: center;
        padding: 50px;
    }

    .title {
        font-size: 50px;
        font-weight: 900;
        font-family: bold;
    }

    .tema {
        font-size: 40px;
        font-weight: 900;
        font-family: bold;
        margin: 50px;
    }

</style>

<section class="presentacion">
    <h1 class="title">Diseño de Sistemas</h1>
    <h2 class="subTitle">Proyecto Segundo Parcial</h2>
    <h2 class="tema">CRUD - ANGULAR - MYSQL</h2>
</section>