<div class="col-md-4" *ngFor="let alumno of alumnos">
    <div class="card text-center" style="border-color: transparent; border-radius: 30px; background-color: rgba(160, 160, 160, 0.637);">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: rgb(75, 75, 75, 0.637); border-top-left-radius: 30px; border-top-right-radius: 30px; color: white; border-color: black;">
            <p>{{alumno.cuenta}}</p>
            {{alumno.nombre}}
            <button class="btn" style="background-color: rgb(255, 254, 254, 0.637); color: rgb(0, 0, 0); border-radius: 70px;" (click)="deleteAlumno(alumno.cuenta)">
                <i class="far fa-trash-alt" style="font-size: 20px;"></i>
            </button>
        </div>
        <div class="card-body" style="margin: 0px; padding: 0px; padding-top: 10px;">
            <p>Apellido Paterno: {{alumno.paterno}}</p>
        </div>
        <div class="card-body" style="margin: 0px; padding: 0px; padding-top: 10px; background-color: rgb(104, 104, 104, 0.637);">
            <p>Fecha Nacimiento: {{alumno.fechaNacimiento | date: 'yyyy-MM-dd'}}</p>
        </div>
        <div class="card-body" style="margin: 0px; padding: 0px; padding-top: 10px;">
            <p>Sexo: {{alumno.sexo}}</p>
        </div>
        <div class="card-body" style="margin: 0px; padding: 0px; padding-top: 10px; background-color: rgb(104, 104, 104, 0.637);">
            <p>Edad: {{alumno.edad}}</p>
        </div>
        <div class="card-body" style="margin: 0px; padding: 0px; padding-top: 10px;">
            <p>Celular: {{alumno.celular}}</p>
        </div>
        <div class="card-body" style="margin: 0px; padding: 0px; padding-top: 10px; background-color: rgb(104, 104, 104, 0.637);">
            <p>Codigo Asignatura: {{alumno.codigo}}</p>
        </div>
        <div class="card-body" style="margin: 0px;padding: 0px; padding-top: 10px; padding-bottom: 10px;">
            <a [routerLink]="['/alumno/edit', alumno.cuenta]" class="btn btn-block" style="background-color: rgba(0, 0, 0, 0.637); color: white; border-radius: 50px;">
                Editar Alumno
            </a>
        </div>
    </div>
</div>